body {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    color: #333;
}

body::-webkit-scrollbar {
    display: none;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading h1 {
    font-size: 24px;
    font-weight: 700;
    color: #2c3e50;
    margin: 0;
}

.content-part{
    margin-top: 20px;
}
.totalValues {
    display: flex;
    justify-content: space-around;
}

.totalData {
    background-color: #023047;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    width: 200px;
    height: 100px;
    text-align: center;
}

.graph-part {
    margin: 20px;
    color: rgba(244, 244, 244, 0.8);
    border-radius: 10px;
    background-color: #023047;
    padding-top: 5px;
}

.linegraph {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-around;
}

#myChart {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.total-values {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
}